*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;

}
header{
    background-image: url("food.jpg");
    background-size: cover;
    min-height: 100vh;
}
.container{
    padding: 1rem;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}
nav{
    padding: 0.5rem 0;
}
.pre-nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.logo{
    color: #026e78;
    font-weight: bold;
    font-size: 2.5rem;

}
nav ul{
    list-style-type: none;
    padding: 0rem;
    display: flex;
   
}
nav li a{
    background-color: #2d99A4;
    padding: 1rem 2rem;
}
nav a.active{
    background-color: white;
    color: #026e78;
    font-weight: bold;
}
nav a.highlight{
    background-color: #026e78;
}
nav a:hover{
    opacity: 0.9;
}
.content{
    margin-top: 5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content h1{
    background-color: #026e78;
    color: white;
    display: inline-block;
    padding: 1rem;

}
.white-link{
    background-color: white;
    color: #2d99a4;
    padding: 1rem;
}
.teal-link{
    color: #fff;
    background-color: #2d99a4;
    margin-top: 1rem;
    padding: 1.6rem;

}
@media screen and (max-width: 768px) {
    
    
}